html { margin: 0px; padding: 0px; }
body {
  margin: 0; padding: 0;
  color: #2e3436;
  font-family: sans-serif;
}
.notfound, .servererror { max-width: 40em; }


/******************************************************************************/
/** Header and Subheader **/

#header {
  height: 36px;
  background-color: #5574a2;
  background: -webkit-gradient(linear, left -60, left 40, from(white), to(#204a87));
  background: -moz-linear-gradient(top, white -60px, #204a87 40px);
  color: #fcf197;
  text-shadow: -1px 1px 0px #204a87;
}
#header table {
  width: 800px;
  margin: 0 auto;
}
#header table td {
  vertical-align: middle;
  padding: 0;
}
#header a {
  color: #eeeeec;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
}
#header a:hover, #header a:focus {
  color: white;
  text-decoration: none;
}
#header td.headerlogo { padding: 0; }
td.headerlogo img {
  margin: 0 10px 0 0;
}
#header td.headerlogo a {
  font-weight: bold;
  font-size: 18px;
}
#header td.headerlinks {
  text-align: right;
  font-weight: bold;
}
#subheader {
  width: 614px;
  min-height: 3.5em;
  padding: 0 0 0 6px;
  border-bottom: solid 1px #d3d7cf;
}
h1 {
  font-size: 1em;
  font-weight: normal;
  color: #2e3436;
  margin: 0;
  padding: 0.2em 0 0.2em 0;
}
h1 img {
  vertical-align: middle;
  margin: 2px 0.5em 0 0;
}
h1 div.title {
  font-size: 1.44em;
  font-weight: bold;
  text-shadow: -1px 1px 0px white;
}
h1 div.desc {
  font-style: italic;
  font-size: 0.83em;
  margin: 0;
  color: #2e3436;
}

div.watch {
  float: right;
  margin: 6px 0 6px 0;
  color: #555753;
  border: solid 1px #babdb6;
  background-color: #eeeeec;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#eeeeec));
  background: -moz-linear-gradient(top, white -4px, #eeeeec 20px);
  border-radius: 2px;
}
div.watch:hover {
  color: #2e3436;
  border-color: #729fcf;
}
label.watch {
  display: block;
  padding: 0 6px 0 6px;
  border: solid 1px white;
  font-size: 0.83em;
  font-weight: bold;
}
div.watch input { vertical-align: -20%; }
label.watchactive {
  background-color: #fcf197;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#fcf197));
  background: -moz-linear-gradient(top, white -4px, #fcf197 20px);
}
label.watch:hover {
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
}
.sublinks {
  margin: 0;
  font-size: 0.83em;
}
.traillinks {
  margin: 0 0 -0.2em 0;
  padding: 0.2em 0 0 0;
  font-size: 0.83em;
}


/******************************************************************************/
/** Main Content **/

div#page {
  background-color: #eeeeec;
  background: -webkit-gradient(linear, left -80, left 200, from(#d3d7cf), to(#eeeeec));
  background: -moz-linear-gradient(top, #d3d7cf -80px, #eeeeec 200px);
  overflow: hidden;
}
div#all {
  width: 800px;
  margin: 0 auto;
}
#body {
  padding: 1em 20px 1em 20px;
  background: white;
  border-left: solid 1px #d3d7cf;
  border-right: solid 1px #d3d7cf;
  width: 578px;
  min-height: 250px;
}
.pane { display: none; }

#sidebar {
  margin-top: -1px;
  padding: 0;
  float: right;
  width: 180px;
  min-height: 80%;
}
ul#tabs {
  margin: 0 0 1.2em -1px; padding: 0;
  list-style-type: none;
  list-style-image: none;
  background-color: #f7f7f5;
  border-top: solid 1px #d3d7cf;
  border-right: solid 1px #d3d7cf;
}
ul#tabs li {
  margin: 0; padding: 0;
  font-size: 0.83em;
  font-weight: bold;
  border-bottom: solid 1px #d3d7cf;
  background-color: white;;
}
ul#tabs div {
  padding: 2px 0.5em 2px 0.5em;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
}
ul#tabs li a {
  color: #555753;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
}
ul#tabs li a:hover {
  color: #2e3436;
  text-decoration: none;
  cursor: default;
}
ul#tabs li a:hover div, ul#tabs li a:focus div {
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
}
ul#tabs li.tabactive div {
  background-color: #fcf197;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#fcf197));
  background: -moz-linear-gradient(top, white -4px, #fcf197 20px);
}


/******************************************************************************/
/** Core Content **/

.desc {
  font-style: italic;
  color: #555753;
  max-width: 40em;
}

a { color: #204a87; text-decoration: none; }
a:visited { color: #204a87; }
a:hover { text-decoration: underline; }
img { border: none; }
a img { border: none; vertical-align: middle; }
table { margin: 0; padding: 0; border-collapse: collapse; }
tr { margin: 0; padding: 0; }
td { margin: 0; padding: 0; vertical-align: top; }
div.table td { padding: 0 1em 0 0; overflow: hidden; }

iframe { border: solid 1px #d3d7cf; }

div.ul { margin: 0.2em 0 0 0; }
ul {
  margin: 0; padding: 0;
  list-style-image: url(bullet.png);
}
ul li { margin: 0 0 0 1.44em; padding: 0; }
li.link {
  list-style-image: url(linkbullet.png);
}

dl { margin: 0 0 0.5em 0; pading: 0; }
dt { margin: 0.5em 0 0 0; }
dt.bold {
  color: #555753;
  font-weight: bold;
}
dd { margin: 0 0 0 1.44em; }
pre {
  margin: 0; padding: 0;
  font-size: 0.83em;
}
span.tt {
  font-family: monospace;
  font-size: 0.83em;
}
.hr {
  border: none;
  background-color: #d3d7cf;
  height: 1px;
  margin: 6px 24px 6px 0;
}
.hr hr { display: none; }


/******************************************************************************/
/** BarGraph **/

div.BarGraph {
  width: 520px;
  overflow: hidden;
}
div.Bars {
  height: 80px;
  padding-top: 1px;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
}
a.Bar {
  display: inline-block;
  border-right: solid 1px white;
  height: 80px;
  cursor: default;
}
a.Bar:hover, a.Bar:focus {
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 120, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 120px);
}
a.Bar:hover div.Bar, a.Bar:focus div.Bar {
  background-color: #729fcf;
}
a.BarActive {
  background-color: #fcf197;
  background: -webkit-gradient(linear, left -4, left 120, from(white), to(#fcf197));
  background: -moz-linear-gradient(top, white -4px, #fcf197 120px);
}
div.Bar {
  display: inline-block;
  width: 7px;
  line-height: 0;
  background-color: #babdb6;
  border-right: solid 1px white;
}
a.Bar div.Bar { border-right: none; }
div.BarComment {
  line-height: 1em;
  position: absolute;
  z-index: 200;
  display: none;
  text-align: center;
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
  border: solid 1px #729fcf;
  padding: 2px 6px 6px 6px;
  z-index: 100;
  cursor: default;
}
div.BarLabel {
  font-size: 0.83em;
  color: #555753;
}
div.BarControl { padding: 2px; }
div.BarControl a {
  display: inline-block;
  margin: 0;
  padding: 2px;
  font-weight: bold;
  color: #555753;
  min-width: 1.2em;
  text-align: center;
}
div.BarControl a.BarPrev { margin-left: 12px; }
div.BarControl a:hover, div.BarControl a:focus {
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
  outline: solid 1px #b1d5fc;
  cursor: default;
  text-decoration: none;
}
div.BarSlide {
  display: inline-block;
  position: relative;
  top: 2px;
  margin: 0 4px 0 4px;
  outline: solid 1px #eeeeec;
  overflow: hidden;
}
span.BarSlide {
  display: inline-block;
  position: relative;
  background-color: #888a85;
  cursor: move;
  border: solid 1px white;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
}

/******************************************************************************/
/** ColumnBox **/

table.Columns { width: 100%; }
td.Column { padding: 0 0 0 1em; }
td.Column:first-child { padding: 0; }


/******************************************************************************/
/** LinkBox **/

table.LinkBox { margin: 0em 0 2em 0; width: 100%;}
td.LinkBoxIcon { width: 24px; text-align: center; }
td.LinkBoxText { padding: 0 0.5em 0 0; }
td.LinkBoxIcon + td.LinkBoxText { padding-left: 1em; }
div.LinkBoxTitle { font-weight: bold; }
div.LinkBoxTitle a { color: #3465a4; }
td.LinkBoxGraph { vertical-align: top; text-align: right; width: 208px; }
table.LinkBox table.facts {
  border-top: none;
  border-bottom: none;
  margin: 0 0 0 1.44em;
}
table.LinkBox table.facts td.fact-key { padding: 0 1em 0 0; }
table.LinkBox table.facts td.fact-val { padding: 0 1em 0 0; }


/******************************************************************************/
/** Meter **/

div.Meter {
  height: 8px;
  -webkit-box-shadow: 0px 0px 3px #888a85;
  -moz-box-shadow: 0px 0px 3px #888a85;
  border: solid 1px white;
}
div.MeterBar {
  float: left;
  margin: 0;
  height: 8px;
  line-height: 8px;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}
div.MeterBar0 { background-color: #3455a4; }
div.MeterBar1 { background-color: #729fcf; }
div.MeterBar2 { background-color: #cc0000; }
div.MeterBar3 { background-color: #ef2929; }
div.MeterBar4 { background-color: #75507b; }
div.MeterBar5 { background-color: #ad7fa8; }
div.MeterBar6 { background-color: #73d216; }
div.MeterBar7 { background-color: #8ae234; }
div.MeterBar8 { background-color: #f57900; }
div.MeterBar9 { background-color: #fcaf3e; }
div.MeterBar:hover {
  opacity: 0.9;
}
div.MeterText {
  display: none;
  background-color: #fcf197;
  padding: 2px 4px 2px 4px;
  -webkit-box-shadow: 0px 0px 3px #888a85;
  -moz-box-shadow: 0px 0px 3px #888a85;
  border-radius: 2px;
}


/******************************************************************************/
/** PaddingBox **/

.Pad { margin-top: 1em; }


/******************************************************************************/
/** SectionBox **/

div.Section { margin: 0.5em 0 1.2em 0; }
div.SectionTitle {
  color: #555753;
  font-weight: bold;
  border-bottom: solid 1px #888a85;
  margin: 0 0 0.2em 0;
}


/******************************************************************************/
/** SidebarBox **/

.SideTitle {
  margin: 0; padding: 0 0 0 0.5em;
  color: #555753;
  font-weight: bold;
}
.SideContent { margin: 0 0 2em 0; padding: 0 0 0 0.5em; }


/******************************************************************************/
/** SortLinks **/

div.SortLinks {
  text-align: right;
  color: #555753;
  font-weight: normal;
  margin-bottom: 6px;
}
a.SortLinks {
  background-color: #eeeeec;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#eeeeec));
  background: -moz-linear-gradient(top, white -4px, #eeeeec 20px);
  font-weight: bold;
  border: solid 1px #babdb6;
  border-radius: 2px;
  padding: 3px 0 3px 0;
  cursor: pointer;
  color: #555753;
}
span.SortLinks {
  border: solid 1px white;
  border-radius: 1px;
  padding: 2px 0.5em 2px 0.5em;
  color: #555753;
}
a.SortLinks:hover, a.SortLinks:focus {
  border-color: #729fcf;
}
a.SortLinks:hover span.SortLinks, a.SortLinks:focus span.SortLinks {
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
  cursor: default;
}
a.SortLinksActive span.SortLinks {
  background-color: #fcf197;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#fcf197));
  background: -moz-linear-gradient(top, white -4px, #fcf197 20px);
}
div.SortLinks a { color: #204a87; }
div.SortLinks a:hover, div.SortLinks a:focus { text-decoration: none; }
div.SortMenu {
  position: absolute;
  background-color: #eeeeec;
  background: -webkit-gradient(linear, left -20, left 80, from(#eeeeec), to(white));
  background: -moz-linear-gradient(top, #eeeeec -20px, white 80px);
  border: solid 1px white;
  outline: solid 1px #d3d7cf;
  padding: 0 0.5em 0.2em 0.5em;
  display: none;
}
div.SortLink { margin: 0.2em 0 0.2em 0; }
span.SortLink {
  background-color: #fcf197;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#fcf197));
  background: -moz-linear-gradient(top, white -4px, #fcf197 20px);
  outline: solid 1px #d3d7cf;
}
a.SortLink, span.SortLink {
  margin-left: 1em;
  font-size: 1.2em;
  padding: 0 6px 0 6px;
}
a.SortLink:hover, a.SortLink:focus {
  color: #555753;
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
  outline: solid 1px #b1d5fc;
  text-decoration: none;
  cursor: default;
}


/******************************************************************************/
/** TabBar **/

div.TabBar { text-align: center; }
span.TabBar {
  display: inline-block;
  padding: 0 8px 0 8px;
  border: solid 1px #babdb6;
  background-color: #eeeeec;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#eeeeec));
  background: -moz-linear-gradient(top, white -4px, #eeeeec 20px);
  border-radius: 2px;
}
a.TabBar {
  color: #555753;
  font-weight: bold;
  border-right: solid 1px #babdb6;
  border-radius: 0;
  display: inline-block;
}
a.TabBar:first-child { border-left: solid 1px #babdb6; }
a.TabBar:hover, a.TabBar:focus {
  cursor: default;
  text-decoration: none;
}
a.TabBar span {
  padding: 3px 6px 3px 6px;
  border: solid 1px white;
  display: inline-block;
}
a.TabBarActive span {
  background-color: #fcf197;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#fcf197));
  background: -moz-linear-gradient(top, white -4px, #fcf197 20px);
}
a.TabBar:hover span, a.TabBar:focus span {
  color: #2e3436;
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
  outline: solid 1px #729fcf;
}


/******************************************************************************/
/** Forms **/

form td { vertical-align: middle; }
input {
  border: solid 1px #888a85;
  margin: 0.2em;
}
input.text {
  border: solid 1px #888a85;
  padding: 0.2em;
  width: 20em;
}
input.submit {
  background-color: #eeeeec;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#eeeeec));
  background: -moz-linear-gradient(top, white -4px, #eeeeec 20px);
  border: solid 1px #babdb6;
  border-radius: 2px;
}
input.submit:focus, input.submit:hover {
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
  border-color: #729fcf;
}


/******************************************************************************/
/** Misc **/

.ajax {
  display: none;
  font-weight: bold;
  color: #555753;
}
.ajax img { vertical-align: bottom; }



.trentry {
  margin: 1em 0 1em 0;
  padding: 6px 1em 6px 1em;
  background-color: #eeeeec;
  border: solid 1px #babdb6;
  -moz-border-radius: 2px;
}
.trnotrans {
  background-color: #fff9cf;
}
.trsource {
  padding-bottom: 0.5em;
  border-bottom: solid 1px #babdb6;
}
.trcomment {
  color: #555753;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px #babdb6;
}
.trtrans {
  padding-top: 0.5em;
}

table.cont { width: 100%; }
.contexp { cursor: pointer; }
td.contexp {
  margin: 0; padding: 0;
  vertical-align: top;
  width: 1em;
}
td.cont-title { color: #555753; font-weight: bold; }
td.cont-title a { color: #555753; }
td.cont-title table { width: 100%; }
td.cont-slinks { text-align: right; }
div.cont-content { padding: 0.5em 0 0 0; }

div.mask {
  position: absolute;
  background-color: #eeeeec;
  opacity: 0.8;
  z-index: 10;
}

table.cal {
  margin-left: 1.44em;
  border-bottom: solid 1px #eeeeec;
}
table.cal td {
  padding: 0;
  font-size: 0.83em;
  width: 1.44em;
  text-align: right;
}
table.cal tr.calnav td { padding: 0 0.5em 0 0.2em; }
table.cal td.calprev { text-align: left; cursor: pointer; }
table.cal td.calnext { text-align: right; cursor: pointer; }
table.cal td.calnav { text-align: center; }
table.cal tr {
  border-left: solid 1px #eeeeec;
  border-right: solid 1px #eeeeec;
}
table.cal tr.calnav {
  border-left: none;
  border-right: none;
}
tr.calhead {
  border-top: solid 1px #eeeeec;
  background-color: #729fcf;
  color: white;
}
tr.calhead td {
  padding: 0 0.5em 0 0.2em;
}
td.calday { background-color: #ffffff; }
td.calday div {
  border: solid 1px white;
  padding: 0 0.5em 0 0.2em;
}
td.caldayoff {
  color: #babdb6;
  cursor: pointer;
}
td.caltoday div {
  border: solid 1px #729fcf;
}
td.calhover div {
  border: solid 1px #ef2929;
}
td.calevent {
  background-color: #fcf197;
}
dd.calevent {
  margin-left: 1.44em;
  display: none;
  color: #555753;
}

div.filters {
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}
span.filters {
  text-align: left;
  background-color: #eeeeec;
  border: solid 1px #d3d7cf;
  -moz-border-radius: 4px;
}
a.filter {
  padding: 0 0.5em 0 0.5em;
  border-left: solid 1px #d3d7cf;
}
a.filter img {
  vertical-align: -0.1em;
}
a.filterall { border-left: none; }
a.filteron {
  background-color: #fcf197;
  color: #555753;
}

/******************************************************************************/
/** ActivityBox ***************************************************************/

div.ActivityBox {
  margin: 0 0 6px 1px;
  padding: 2px 6px 2px 6px;
  background-color: white;
  border: solid 1px #eeeeec;
}
div.ActivityContainer div.ActivityBox { margin-left: 6px; }
div.ActivityBox:hover {
  background-color: #eeeeec;
  background: -webkit-gradient(linear, left -120, left 80, from(#b1fbfc), to(white));
  background: -moz-linear-gradient(top, #b1fbfc -120px, white 80px);
}
div.ActivityInfo {
  color: #888a85;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
}
div.ActivityBox:hover div.ActivityInfo { color: #555753; }
span.ActivitySubject {
  color: #555753;
  font-weight: bold;
}
span.ActivitySubject a { color: #3465a4; }
div.ActivityContent { margin: 6px 0 6px 0; }
div.ActivitySummary { margin: 6px 0 6px 0; }
div.ActivityDescription {
  margin: 6px 0 6px 0;
}
div.ActivityContainer { margin: 0 0 12px 0; }
div.ActivityTitle {
  background-color: #eeeeec;
  color: #555753;
  font-weight: bold;
  text-shadow: -1px 1px 0px white;
  margin: 0 0 6px 0;
  padding: 1px 6px 1px 8px;
}
div.ActivityContainerTitle {
  color: #2e3436;
  font-weight: bold;
  margin: 0 0 6px 0;
}


/******************************************************************************/
/** MoreLink ******************************************************************/
.MoreContainer {
}
a.More {
  color: inherit;
  cursor: default;
}
a.More:hover { text-decoration: none; }
a.More span.More {
  padding: 0 0.5em 0 0.5em;
  color: #204a87;
  font-weight: bold;
}
a.More:hover span.More, a.More:focus span.More {
  text-decoration: none;
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
  outline: solid 1px #b1d5fc;
}
.MoreHidden { display: none; }


/******************************************************************************/
/** PopupLink *****************************************************************/
a.PopupLink {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
}
a.PopupLink:hover {
  background-color: #b1fbfc;
  text-decoration: none;
  cursor: default;
}
a.PopupLinkActive {
  outline: solid 1px #555753;
  background-color: #fcf197;
  color: #555753;
}
a.PopupLinkActive:hover {
  background-color: #fcf197;
  color: #555753;
}
div.PopupLinkBody {
  position: absolute;
  display: none;
  padding: 0;
  background-color: #eeeeec;
}
div.PopupLinkContent {
  padding: 0.5em;
  border: solid 1px #555753;
  color: #000000;
}
div.PopupLinkLinks {
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: solid 1px #555753;
  border-left: solid 1px #555753;
  border-right: solid 1px #555753;
}

/******************************************************************************/
div.mstub { display: none; }
div.mcont {
  position: absolute;
  display: none;
  padding: 0;
  border-left: solid 2px #eeeeec;
  border-right: solid 2px #eeeeec;
  border-bottom: solid 2px #eeeeec;
  opacity: 0.9;
}
div.pcont div.mcont { opacity: 1.0; }
div.mcont-cont {
  padding: 0 0.5em 0 0.5em;
  border: solid 1px #555753;
  background-color: #fff9cf;
}
div.mcont a { padding:0 0.2em 0 0.2em; }
div.mcont a:hover {
  text-decoration: none;
  background-color: #729fcf;
  color: white;
}

div.graph {
  margin: 0 0 12px 0;
  padding: 0;
}
img.graphmap { cursor: default; }
table.graph { margin: 0 0 12px 0; }
table.graph div.graph { margin: 0; }
table.graph td { line-height: 0; }
td.graphprev, td.graphnext { padding: 4px 0 0 0; }
td.graphprev a:hover, td.graphnext a:hover,
td.graphprev a:focus, td.graphnext a:focus {
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
  outline: solid 1px #b1d5fc;
  cursor: default;
}
div.graphaway { position: absolute; overflow: hidden; }
td.graphnext { text-align: right; }

a.graphtarget {
  display: none;
  position: absolute;
  border: solid 1px #729fcf;
  cursor: default;
}

div.comments { line-height: 1; }
a.comment {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #b1fbfc;
  background: -webkit-gradient(linear, left -4, left 20, from(white), to(#b1fbfc));
  background: -moz-linear-gradient(top, white -4px, #b1fbfc 20px);
  border: solid 1px #729fcf;
  padding: 2px 6px 6px 6px;
  z-index: 100;
  cursor: default;
}
a.comment:hover { text-decoration: none; }
a.comment div.label {
  font-size: 0.83em;
  color: #555753;
}

dl.facts dt {
  color: #555753;
  font-size: 0.83em;
  padding: 0; margin: 0;
}
dl.facts dd {
  padding: 0;
  margin: -0.2em 0 0.5em 0;
}
table.facts {
}
tbody.facts + tbody.facts tr:first-child td {
  padding-top: 12px;
}
td.fact-key { margin: 0; padding: 0.1em 1em 0.1em 0; color: #555753;
}
td.fact-val { margin: 0; padding: 0.1em 1em 0.1em 0; }

div.screenshot { float: right; margin: 1em 0 1em 1em; }
#sidebar div.screenshot {
  float: none;
  text-align: center;
  margin: 0 1em 2em 1em;
}

div.zoom {
  position: absolute;
  display: none;
  padding: 10px;
  border: solid 1px #babdb6;
  background-color: white;
}

.admon { font-style: italic; }
.admon img { vertical-align: -10%; }


.throbberbar {
  border: solid 1px #babdb6;
  padding: 1px;
  overflow: hidden;
}
.throbberbar div {
  background-color: #729fcf;
  background: -webkit-gradient(linear, right top, -20 top, from(#729fcf), to(white));
  background: -moz-linear-gradient(left, white -20px, #729fcf 40px);
  line-height: 6px;
  height: 6px;
  width: 40px;
}

.vbox-el { margin-top: 1em; }

.nokey { background: #f7f7f5; }
