html { margin: 0px; padding: 0px; }
body {
  margin: 0; padding: 0;
  background-color: white;
  color: #2e3436;
  font-family: sans-serif;
}
.notfound, .servererror { max-width: 40em; }


/******************************************************************************/
/** Header and Subheader **/

#header {
  background: #555753 url(header-bg.png) 0 0 repeat-x;
  height: 56px;
  padding: 0 0 0 2.4em;
}
#subheader {
  background-color: #f7f7f5;
  border-top: solid 1px #f7f7f5;
  border-bottom: solid 1px #d3d7cf;
}
.sidebarred #subheader { padding-right: 300px; }
h1 {
  font-size: 1.44em;
  background-color: #f7f7f5; color: #555753;
  margin: 0; padding: 0.2em 300px 0.2em 1.67em;
}
h1 img { vertical-align: middle; }
.sublinks {
  padding: 0 2.89em 0 2.89em;
  margin: 0 0 1.2em 0;
  font-size: 0.83em;
}
#tabs { padding: 0 2.4em 0 2.4em; margin: 1em 0 0 0; }
#reload, #throbber {
  float: right;
  margin: 0; padding: 0;
  line-height: 0; height: 22px;
}
#reload { padding: 2px 2px 0 0; }
.tab {
  border: solid 1px #d3d7cf;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  padding: 0 0.5em 0 0.5em;
  background-color: #eeeeec;
}
.tabactive {
  border-bottom: solid 1px white;
  background-color: white;
}


/******************************************************************************/
/** Main Content **/

#body { margin: 0; padding: 1em 0 0 0; }
.sidebarred #body { padding-right: 300px; }
#panes {
  padding: 0em 2.4em 0 2.4em;
  background-color: white;
}
.pane { display: none; }
#sidebar {
  background-color: #eeeeec;
  position: absolute; top: 56px; right: 0px;
  width: 300px;
  padding-top: 1em;
  border-left: solid 1px #dcd7cf;
  border-bottom: solid 1px #dcd7cf;
}


/******************************************************************************/
/** Core Content **/

a { color: #204a87; text-decoration: none; }
a:visited { color: #5c3566; }
a:hover { text-decoration: underline; }
img { border: none; }
a img { border: none; vertical-align: middle; }
table { margin: 0; padding: 0; border-collapse: collapse; }
tr { margin: 0; padding: 0; }
td { margin: 0; padding: 0; vertical-align: top; }
ul { margin: 0.2em 0 0 0; padding: 0; list-style-type: none; }
ul li { margin-left: 1.44em; }
dl { margin: 0 0 0.5em 0; pading: 0; }
dt { margin: 0.5em 0 0 0; }
dd { margin: 0 0 0 1.44em; }
pre {
  margin: 0; padding: 0;
  font-size: 0.83em;
}
.hr {
  border: none;
  background-color: #d3d7cf;
  height: 1px;
  margin: 6px 24px 6px 0;
}
.hr hr { display: none; }

table.cols { width: 100%; }
td.col { padding: 0 0 0 1em; }
td.col-first { padding: 0; }

.grid-td { padding: 0 0 0 1em; }


/******************************************************************************/
/** Misc **/

.ajax {
  display: none;
  font-weight: bold;
  color: #555753;
}
.ajax img { vertical-align: bottom; }

.trentry {
  margin: 1em 0 1em 0;
  padding: 6px 1em 6px 1em;
  background-color: #eeeeec;
  border: solid 1px #babdb6;
  -moz-border-radius: 2px;
}
.trnotrans {
  background-color: #fff9cf;
}
.trsource {
  padding-bottom: 0.5em;
  border-bottom: solid 1px #babdb6;
}
.trcomment {
  color: #555753;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px #babdb6;
}
.trtrans {
  padding-top: 0.5em;
}

.sidecont {
  margin: 0 0 2em 0;
  padding: 0 0 0 0.5em;
}
.sidetitle {
  color: #555753;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 0.5em;
}

.info { margin: 1em 0 2em 0; }
.infotitle {
  background-color: #ffffff;
  color: #555753;
  font-weight: bold;
  border-top: solid 1px #888a85;
  border-bottom: solid 1px #888a85;
  padding: 0 0 0.2em 0.5em;
  cursor: pointer;
}
.infotitle span { float: right; }
.infotitle span img { vertical-align: bottom; }
.infocont { padding: 0.5em; }

.desc {
  font-style: italic;
  color: #555753;
  max-width: 40em;
}

.status { display: none; }

table.lbox { margin: 0.2em 0 0.2em 0; width: 100%;}
td.lboxicon { width: 24px; text-align: center; }
td.lboxtext { padding: 0 0.5em 0 0.5em; }
td.lboxtextonly { padding: 0 0.5em 0 0; }
div.lboxhead {
  font-size: 1.2em;
  border-bottom: solid 1px #888a85;
}
td.lboxgraph { vertical-align: top; text-align: right; }

table.cont { width: 100%; }
.contexp { cursor: pointer; }
td.contexp {
  margin: 0; padding: 0;
  vertical-align: top;
  width: 1em;
}
td.cont-title { color: #555753; font-weight: bold; }
td.cont-title a { color: #555753; }
td.cont-title table { width: 100%; }
td.cont-slinks { text-align: right; }
div.cont-content { padding: 0.5em 0 0 0; }

div.mask {
  position: absolute;
  background-color: white;
  opacity: 0.6;
  z-index: 10;
}

table.cal {
  margin-left: 1.44em;
  border-bottom: solid 1px #eeeeec;
}
table.cal td {
  padding: 0;
  font-size: 0.83em;
  width: 1.44em;
  text-align: right;
}
table.cal tr.calnav td { padding: 0 0.5em 0 0.2em; }
table.cal td.calprev { text-align: left; cursor: pointer; }
table.cal td.calnext { text-align: right; cursor: pointer; }
table.cal td.calnav { text-align: center; }
table.cal tr {
  border-left: solid 1px #eeeeec;
  border-right: solid 1px #eeeeec;
}
table.cal tr.calnav {
  border-left: none;
  border-right: none;
}
tr.calhead {
  border-top: solid 1px #eeeeec;
  background-color: #729fcf;
  color: white;
}
tr.calhead td {
  padding: 0 0.5em 0 0.2em;
}
td.calday { background-color: #ffffff; }
td.calday div {
  border: solid 1px white;
  padding: 0 0.5em 0 0.2em;
}
td.caldayoff {
  color: #babdb6;
  cursor: pointer;
}
td.caltoday div {
  border: solid 1px #729fcf;
}
td.calhover div {
  border: solid 1px #ef2929;
}
td.calevent {
  background-color: #fce94f;
}
dd.calevent {
  margin-left: 1.44em;
  display: none;
  color: #555753;
}

div.filters {
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}
span.filters {
  text-align: left;
  background-color: #eeeeec;
  border: solid 1px #d3d7cf;
  -moz-border-radius: 4px;
}
a.filter {
  padding: 0 0.5em 0 0.5em;
  border-left: solid 1px #d3d7cf;
}
a.filter img {
  vertical-align: -0.1em;
}
a.filterall { border-left: none; }
a.filteron {
  background-color: #729fcf;
  color: white;
}

div.slinks {
  text-align: right;
  color: #555753;
  font-weight: normal;
}
span.slinks {
  background-color: #eeeeec;
  border: solid 1px #d3d7cf;
  padding: 0 0.5em 0 0.5em;
}
div.slinks a { color: #204a87; }
div.slinkmenu {
  position: absolute;
  background-color: #eeeeec;
  border: solid 1px #729fcf;
  padding: 0 0.5em 0.2em 0.5em;
  display: none;
}
span.slink { color: #888a85; }

a.plink:hover { text-decoration: none; }
div.pcont {
  position: absolute;
  display: none;
  padding: 0;
  background-color: #eeeeec;
  border: solid 2px #ffffff;
  opacity: 0.9;
}
.pcont-content {
  padding: 1em;
  border: solid 1px #555753;
  color: #000000;
}
.pcont-links {
  padding: 0 1em 0 1em;
  border-bottom: solid 1px #555753;
  border-left: solid 1px #555753;
  border-right: solid 1px #555753;
  background-color: #fff9cf;
}

div.mstub { display: none; }
div.mcont {
  position: absolute;
  display: none;
  padding: 0;
  border-left: solid 2px #eeeeec;
  border-right: solid 2px #eeeeec;
  border-bottom: solid 2px #eeeeec;
  opacity: 0.9;
}
div.pcont div.mcont { opacity: 1.0; }
div.mcont-cont {
  padding: 0 0.5em 0 0.5em;
  border: solid 1px #555753;
  background-color: #fff9cf;
}
div.mcont a { padding:0 0.2em 0 0.2em; }
div.mcont a:hover {
  text-decoration: none;
  background-color: #729fcf;
  color: white;
}

div.graph {
  margin: 0 0 12px 0;
  padding: 0;
}
table.graph { margin: 0 0 12px 0; }
table.graph div.graph { margin: 0; }
table.graph td { line-height: 0; }
td.graphprev, td.graphnext { padding: 4px 0 0 0; }
div.graphaway { position: absolute; overflow: hidden; }
td.graphnext { text-align: right; }

div.comments { line-height: 1; }
div.comment {
  display: none;
  position: absolute;
  background-color: #fce94f;
  border: solid 2px #ffffff;
  padding: 2px 6px 6px 6px;
  z-index: 100;
  text-align: center;
}
div.comment div.label {
  font-size: 0.83em;
  color: #555753;
}

dl.facts dt {
  color: #555753;
  font-size: 0.83em;
  padding: 0; margin: 0;
}
dl.facts dd {
  padding: 0;
  margin: -0.2em 0 0.5em 0;
}
table.facts {
  border-top: solid 1px #d3d7cf;
  border-bottom: solid 1px #d3d7cf;
}
tr.fact-sep td { border-bottom: solid 1px #d3d7cf; }
td.fact-key { margin: 0; padding: 0.1em 0.5em 0.1em 0; color: #555753; }
td.fact-val { margin: 0; padding: 0.1em 1em 0.1em 0; }
table.lbox table.facts {
  border-top: none;
  border-bottom: none;
  margin: 0 0 0 1.44em;
}
table.lbox table.facts td.fact-key { padding: 0 1em 0 0; }
table.lbox table.facts td.fact-val { padding: 0 1em 0 0; }

div.screenshot { float: right; margin: 1em 0 1em 1em; }
#sidebar div.screenshot {
  float: none;
  text-align: center;
  margin: 0 1em 2em 1em;
}

div.zoom {
  position: absolute;
  display: none;
  padding: 10px;
  border: solid 1px #d3d7cf;
  background-color: #eeeeec;
}

.admon { font-style: italic; }
.admon img { vertical-align: -10%; }


.throbberbar {
  border: solid 1px #babdb6;
  padding: 1px;
  overflow: hidden;
}
.throbberbar div {
  background-color: #729fcf;
  line-height: 6px;
  height: 6px;
  width: 36px;
}

.vbox-el { margin-top: 1em; }

a.elliplnk { font-style: normal; cursor: pointer; }

.pad { margin-top: 1em; }

.po { background-color: #eeeeec; }
.po80 { background-color: #d9ebff; }
.po50 { background-color: #fff9cf; }
.po td { padding: 0 0.5em 0 0.5em; }

.nokey { opacity: 0.7; }
